*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
	width: 100%;
    background: linear-gradient(to right, #dc0a0a, #3b09a0);
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.pepe{
    background: linear-gradient(to right, #dc0a0a, #3b09a0);
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;

}

@keyframes rotate{
    0%
    {
        transform: perspective(1000px) rotateY(0deg);
    }

    100%
    {
        transform: perspective(1000px) rotateY(360deg);
    }


}

.slider span{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translatez(350px);
}


.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

.royer{
    background: linear-gradient(to right, #dc0a0a, #3b09a0);
    
}

.imgh{
    display: block;
    margin: 0px auto;
}



.mapt { 
    width: 90%;
    height:400px;
    display: block;
    margin: 20px auto;
    border-radius: 100px;
}
  
